header{
    background: rgb(30, 30, 31);
    -webkit-box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.9);
    box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.9);
    display:flex;
    justify-content: space-between;
    font-weight: 400;
    color: white;
}


nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    padding-bottom: 20px; 
    position: relative;

}

nav li a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    cursor: pointer;
}


nav li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    bottom: 0;
    background-color: #2d72d9;
    transition: all 0.15s ease-in-out 0s;
    position: absolute;
}

nav li a:hover::after{
    width: 100%;
}

